@{
    ViewData["Title"] = "Home Page";
}

@model List<CourseViewModel>

<h2> Kurslar </h2>
<hr />

@if (Model.Any())
{
    <div class="container-fluid content-row">
        @foreach (var item in Model.Select((Course, i) => new { Course, i }).ToList())
        {
            if (item.i % 3 == 0)
            {
                @Html.Raw("<div class='row row-cols-1 row-cols-md-3 g-4'>")
            }
            <div class="col">
                <div class="card">
                    <img src="@item.Course.PhotoWithUrl" class="card-img-top" alt="@item.Course.Name">
                    <div class="card-body">
                        <h5 class="card-title"> @item.Course.Name </h5>
                        <div class="badge bg-primary"> Kategori: @item.Course.Category.Name </div>
                        <p class="card-text">
                            @item.Course.ShortDescription
                        </p>
                        <h4 class="text-primary"> @item.Course.Price TL </h4>
                        <a class="btn btn-success" asp-action="detail" asp-route-id="@item.Course.Id"> Detay </a>
                    </div>
                </div>
            </div>
            if (item.i % 3 == 2)
            {
                @Html.Raw("</div>")
            }
        }
    </div>
}
